fastapi>=0.115.0
uvicorn[standard]>=0.30.0
websockets>=13.0
mss>=9.0.2
opencv-python>=4.10.0
numpy>=2.0.0
simplejpeg>=0.1.0
windows-capture>=2.0.0
pyaudiowpatch>=0.2.12
psutil>=6.0.0
pynput>=1.7.7
pyautogui>=0.9.54
qrcode>=7.4.2
pillow>=10.4.0
paramiko>=3.5.0
pyinstaller>=6.20.0
